header {
  max-height: 70px;
  width: 100%;
  box-shadow: 0px 4px 6px #00000040;
  padding: 0 1rem;
  background-color: #fff;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.header-container h2 {
  font-weight: bold;
  font-size: 26px;
}
